<footer class="footer">
    <div class="left-section">
      <p>&copy; Aurum Blog Theme 2014</p>
    </div>
    <div class="right-section">
      <a href="#"><fa-icon [icon]="faTumblr"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faBehance"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faYoutube"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faDribbble"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faGooglePlus"></fa-icon></a>
    </div>
  </footer>
  