/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto_Serif';
    src: url('assets/fonts/Noto_Serif/static/NotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}   